<template>
    <div>
        <form @submit="addBook" class="form-group">
            <div class="form-group">
                <input require type="text" v-model="title" class="form-control" placeholder="title">
            </div>
            <div class="form-group">
                <input require type="text" v-model="author" class="form-control" placeholder="author">
            </div>
            <div class="form-group">
                <input require type="number" v-model="year" class="form-control" placeholder="year">
            </div>
            <div class="form-group">
                <label class="form-group form-check">
                    <input type="checkbox" v-model="inLibrary" class="form-check-input">
                    <p class="form-check-label">in library</p>
                </label>
            </div>
            <button class="btn">add</button>
            <div v-if="output" class="alert alert-info"> {{ output }} </div>
        </form>
    </div>
</template>

<script>
export default {
    data() {
        return {
            title: '',
            author: '',
            year: null,
            inLibrary: true,
            output: ''
        };
    },
    methods: {
        addBook(e) {
            e.preventDefault();
            let book = this;

            axios.post('/api/addbook', {
                title: this.title,
                author: this.author,
                year: this.year,
                inLibrary: this.inLibrary,
            })
            .then(function (response) {
                book.output = response.data;
            })
            .catch(function (error) {
                book.output = error;
            });
        }
    }
};
</script>