<template>
    <div>
        <form @submit="inhibitPageReload">
            <div>
                <label><input type="radio" v-model="column" value="title" :checked="column == 'title'">title</label>
                <label><input type="radio" v-model="column" value="author" :checked="column == 'author'">author</label>
                <label><input type="radio" v-model="column" value="year" :checked="column == 'year'">year</label>
                <label><input type="radio" v-model="column" value="inLibrary" :checked="column == 'inLibrary'">in library</label>
            </div>
            <div>
                <input v-if="column != 'inLibrary'" type="text" v-model="search" placeholder="Search">
                <label v-else class="form-group form-check">
                    <input type="checkbox" v-model="search" class="form-check-input">
                    <p class="form-check-label">in library</p>
                </label>
            </div>
            <div v-if="output != ''">
                {{ output }}
            </div>
        </form>

        
        <table class="table">
            <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Year</th>
                <th>In library</th>
            </tr>
            </thead>
            <tbody v-if="books">
                <tr v-for="book in books" v-bind:key="book.id">
                    <td>{{ book.title }}</td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.year }}</td>
                    <td v-if="book.in_library == 1">Yes</td>
                    <td v-if="book.in_library == 0">No</td>
                </tr>
            </tbody>
        </table>
    </div>
</template>



<script>
import axios from 'axios';

function search(data) {
    if (data.column != 'inLibrary' && typeof(data.search)=='boolean'){
        data.search = '';
    }

    axios.post('/api/search', {
        column: data.column,
        search: data.search
    })
    .then(function (response) {
        data.books = response.data;
    })
    .catch(function (error) {
        data.output = error;
    });
}

export default {
    data() {
        return {
            column: 'title',
            search: '',
            output: '',
            books: axios.get("/api/allbooks").then(response => (this.books = response.data))
        }
    },
    watch: {
        search: function () {
            search(this)
        },
        column: function () {
            search(this)
        },
    },
    methods: {
        inhibitPageReload(e) {
            e.preventDefault();
        }
    }
}
</script>